.jumbotron {
    background-size: contain;
    height: 200px;
    margin-bottom: 2.5%;
    background-color: burlywood;
    text-align: center;
}

.trainForm {
    background-color: lightgrey;
    border-radius: 15px;
}

.jumbotron h1{
    font-weight: bold;
    color: white;
}

.jumbotron h2{
    color: white;
}

